{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}
{% block scriptHeader %}
{% include "partials/leaflet.html" %}
{% include "partials/leaflet_markercluster.html" %}
{% include "partials/leaflet_heatmap.html" %}
{% endblock %}
{% block content %}
<style>
    #map {
        width: 100%;
        height: 700px;
    }
</style>
<div class="container-fluid pt-3">
    <h1 class="display-3 text-center">Beziehungen zu Orten</h1>
    <div id="mapcontainer" class="p-4">
        <div id="map"></div>
        <div id="legend" class="text-center pt-3">
            <h2>gewählte Filterparameter</h2>
        </div>
    </div>
</div>
<span id="url" class="visually-hidden" aria-hidden="true">{% url 'network:geojson' %}{% querystring %}</span>

<script src="{% static 'network/map.js' %}"></script>
{% endblock %}