{% load apis_helpers %}
<a
    class="btn"
    hx-trigger="click"
    hx-post="/apis/relations/ajax/get/"
    hx-target="#editFormDiv_{{ record|content_type }}"
    hx-vals='{
        "FormName": "{{ record|content_type }}Form",
        "SiteID": "{{ site_id }}",
        "ObjectID": "{% if record.relation_pk %}{{record.relation_pk}}{% else %}{{ record.pk}}{% endif %}",
        "entity_type": "{{ entity_type }}",
        "ButtonText": "speichern"
    }'>
    <i class="bi bi-pencil-square"></i>
</a>
