{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% block title %} {{ object }} {% endblock %}
{% block content %}
{% include "partials/entity_styles.html" %}

<div class="container-fluid pt-4 ps-4 pe-4">
    
    <div class="row">
        <div class="col-md-2">
            {% if object.get_prev_url %}
                <h2>
                    <a href="{{ object.get_prev_url }}" style="float:right">
                        <i class="bi bi-chevron-left" title="vorige Entität"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2 class="display-4 text-center">
                <a href="{{ object.get_listview_url }}" title="zurück zur Übersicht">
                    <i class="{{ object.get_icon }}"></i>
                </a>
               {{ object }}
            </h2>
            {% if user.is_authenticated %}
                <h2 class="text-center">
                    {% if object.get_edit_url %}
                            <a href="{{ object.get_edit_url }}">
                                <i class="bi bi-pencil-square" title="Entität bearbeiten"></i>
                            </a>
                    {% endif %}
                    {% if object.get_delete_url %}
                        |
                            <a href="{{ object.get_delete_url }}">
                                <i class="bi bi-trash3" title="Entität löschen"></i>
                            </a>
                    {% endif %}
                </h2>
            {% endif %}
        </div>
        <div class="col-md-2">
            {% if object.get_next_url %}
                <h2>
                    <a href="{{ object.get_next_url }}" style="float:left">
                        <i class="bi bi-chevron-right" title="nächste Entität"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
    </div>
   
    <div class="row p-5">
        <div class="col-md-4">
            <table class="table table-borderless table-hover ps-3 ">
                {% if object.img_url and object.img_credit_label != 'AKON' %}
                <tr>
                    <th class="w-25">&#160;</th>
                    <td>
                        <img src="{{ object.img_url }}" class="rounded" alt="Bild von {{ object }}" style="height: 200px">
                        {% if object.img_credit %}
                        <figcaption class="figure-caption"><a href="{{ object.img_credit }}" style="color: dimgrey;">{{ object.img_credit_label }}</a></figcaption>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% block info-table %}
                <tr>
                    <th class="w-25">
                        Titel
                    </th>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                {% if no_merge_labels %}
                <tr>
                    <th class="w-25">
                        Labels
                    </th>
                    <td>
                        {% for x in no_merge_labels %}
                        <small>{{ x.label_type }}: </small>{{ x.label }}<br >
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th class="w-25">
                        ID
                    </th>
                    <td>
                        {{ object.id }}
                    </td>
                </tr>
                <tr>
                    <th class="w-25">
                        Typ
                    </th>
                    <td>
                        {{ object.kind}}
                    </td>
                </tr>
                {% if object.start_date or object.end_date %}
                <tr>
                    <th class="w-25">
                        Datum
                    </th>
                    <td>
                        {% if object.start_date_written %}
                            <abbr title="{{ object.start_date }}">{{ object.start_date_written }}</abbr>
                        {% endif %}
                        {% if object.end_date %}
                            - <abbr title="{{ object.end_date }}">{{ object.end_date_written }}</abbr>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endblock info-table %}
            {% block info-metadata %}
                <tr>
                    <th class="w-25">Export</th>
                    <td>{% if entity_type != 'event' %}
                        <a href="{{ object.get_tei_url }}" title="zur TEI-Ansicht der Entität">
                            <i class="bi bi-filetype-xml"></i> TEI
                        </a>
                        |{% endif %}
                        <a href="{{ object.get_api_url }}">
                            <i class="bi bi-database" title="zur API-Ansicht der Entität"></i> JSON
                        </a> 
                    </td>
                </tr>
                <tr>
                    <th class="w-25">
                        URI
                    </th>
                    <td>
                        {% for x in object.uri_set.all %}
                            <a href="{{ x }}">{{ x }}</a> {% if user.is_authenticated %} <a href="{{ x.get_edit_url }}" title="URI bearbeiten">
                                <i class="bi bi-pencil-square"></i>
                            </a> | <a href="{{ x.get_delete_url }}" title="URI löschen">
                                <i class="bi bi-trash3"></i>
                            </a>{% endif %}<br />
                        {% endfor %}
                    </td>
                </tr>
                    {% if object.collection.all %}
                    <tr>
                        <th class="left-width">
                            Sammlungen
                        </th>
                        <td>
                            {% for x in object.collection.all %}
                            {% if "Wikipedia" in x.name %}
                            {% else %}
                            {{ x }}<br />
                            {% endif %}
                            {% endfor %}
                            
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.notes %}
                        <tr>
                            <th class="w-25">
                                Anmerkungen
                            </th>
                            <td>
                                {{ object.notes }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.references %}
                        <tr>
                            <th class="w-25">
                                Belege
                            </th>
                            <td>
                                {{ object.references }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            {% endblock info-metadata %}
            {% block left-pane-additional %}
            {% endblock left-pane-additional %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h3 class="text-center mt-5">Beziehungen</h3>
            {% block relations %}
                {% for obj in right_card %}
                    {% if obj.1.data|length > 0 %}
                        <h4 > {{ obj.0 }}</h4>
                    
                        <div id="tab_{{ obj.2 }}" class="mb-5">
                            {% render_table obj.1 %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock relations %}
        </div>
    </div>
</div>
{% endblock content %}

