{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% block title %} {{ object }} {% endblock %}
{% block content %}
{% include "partials/entity_styles.html" %}

<div class="container-fluid pt-4">
    
    <div class="row">
        <div class="col-md-2">
            {% if object.get_prev_url %}
                <h2>
                    <a href="{{ object.get_prev_url }}" style="float:right">
                        <i class="bi bi-chevron-left" title="vorige Entität"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2 class="display-4 text-center">
                <a href="{{ object.get_listview_url }}" title="zurück zur Übersicht">
                    <i class="{{ object.get_icon }}"></i>
                </a>
               {{ object }}
            </h2>
            {% if user.is_authenticated %}
                <h2 class="text-center">
                    {% if object.get_edit_url %}
                            <a href="{{ object.get_edit_url }}">
                                <i class="bi bi-pencil-square" title="Entität bearbeiten"></i>
                            </a>
                    {% endif %}
                    {% if object.get_delete_url %}
                        |
                            <a href="{{ object.get_delete_url }}">
                                <i class="bi bi-trash3" title="Entität löschen"></i>
                            </a>
                    {% endif %}
                </h2>
            {% endif %}
        </div>
        <div class="col-md-2">
            {% if object.get_next_url %}
                <h2>
                    <a href="{{ object.get_next_url }}" style="float:left">
                        <i class="bi bi-chevron-right" title="nächste Entität"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-5">
            <h4 class="text-left">
                <a href="{{ object.get_api_url }}">
                    <i class="bi bi-database" title="zur API-Ansicht der Entität"></i>
                </a>
                {% if entity_type != 'event' %}| <a href="{{ object.get_tei_url }}" title="zur TEI-Ansicht der Entität"><i class="bi bi-filetype-xml"></i></a>{% endif %}
            </h3>
            {% if object.img_url %}
            <div class="text-center p-3">
                <img src="{{ object.img_url }}" class="rounded" alt="Bild von {{ object }}" style="height: 200px">
                {% if object.img_credit %}
                <figcaption class="figure-caption"><a href="{{ object.img_credit }}">{{ object.img_credit_label }}</a></figcaption>
                {% endif %}
              </div>
              

            {% endif %}
            {% block info-table %}
            <table class="table">
                <tr>
                    <th>
                        Titel
                    </th>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                {% if no_merge_labels %}
                <tr>
                    <th>
                        Labels
                    </th>
                    <td>
                        <ul >
                        {% for x in no_merge_labels %}
                            <li class="list-unstyled">
                                <small>{{ x.label_type }}: </small>{{ x.label }}
                            </li>
                        {% endfor %}
                        </ul>
                        
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        {{ object.id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Type
                    </th>
                    <td>
                        {{ object.kind}}
                    </td>
                </tr>
                {% if object.start_date or object.end_date %}
                <tr>
                    <th>
                        Datum
                    </th>
                    <td>
                        {% if object.start_date_written %}
                            <abbr title="{{ object.start_date }}">{{ object.start_date_written }}</abbr>
                        {% endif %}
                        {% if object.end_date %}
                            - <abbr title="{{ object.end_date }}">{{ object.end_date_written }}</abbr>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if object.lat %}
                    <tr>
                        <th>
                            Länge/Breite
                        </th>
                        <td>
                            {{ object.lat }} / {{ object.lng }}
                        </td>
                    </tr>
                {% endif %}
            </table>
            {% endblock info-table %}
            {% block info-metadata %}
                <table class="table">
                    <tr>
                        <th class="left-width">
                            URI
                        </th>
                        <td>
                            {% for x in object.uri_set.all %}
                                <a href="{{ x }}">{{ x }}</a> {% if user.is_authenticated %} <a href="{{ x.get_edit_url }}" title="URI bearbeiten">
                                    <i class="bi bi-pencil-square"></i>
                                </a> | <a href="{{ x.get_delete_url }}" title="URI löschen">
                                    <i class="bi bi-trash3"></i>
                                </a>{% endif %}<br />
                            {% endfor %}
                        </td>
                    </tr>
                    {% if object.collection.all %}
                    <tr>
                        <th>
                            Sammlungen
                        </th>
                        <td>
                            {% for x in object.collection.all %}
                                {{ x }}<br />
                            {% endfor %}
                            
                        </td>
                    </tr>
                    {% endif %}
                    {% if object.notes %}
                        <tr>
                            <th>
                                Anmerkungen
                            </th>
                            <td>
                                {{ object.notes }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.references %}
                        <tr>
                            <th>
                                Belege
                            </th>
                            <td>
                                {{ object.references }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            {% endblock info-metadata %}
            {% block left-pane-additional %}
            {% endblock left-pane-additional %}
        </div>
        <div class="col-md-7">
            <h3 class="text-center">Beziehungen</h3>
            {% block relations %}
                {% for obj in right_card %}
                    {% if obj.1.data|length > 0 %}
                        <h4 > {{ obj.0 }}</h4>
                    
                        <div id="tab_{{ obj.2 }}" style="margin-bottom: 50px;">
                            {% render_table obj.1 %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock relations %}
        </div>
    </div>
</div>
{% endblock content %}

