{% extends "apis_entities/detail_views/entity_detail_generic.html" %}

    {% block info-table %}
    {% if object.lat %}
        <div id="map" style="height: 300px;"></div>
        <script>
            var lat = "{{ object.lat }}".replace(",", "."); 
            var lng = "{{ object.lng }}".replace(",", "."); 
            console.log(lat, lng)
            var map = L.map('map').setView([lat, lng], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var marker = L.marker([lat, lng]).addTo(map);
            marker.bindPopup("{{ object.name }}").openPopup();
        </script>
    {% endif %}

        {% if no_merge_labels %}
        <tr>
            <th class="w-25">
                Alternative Namen
            </th>
            <td>
                {% for x in no_merge_labels %}
                    <li class="list-unstyled">
                        <small>{{ x.label_type }}: </small>{{ x.label }}
                    </li>
                {% endfor %}
                
            </td>
        </tr>
        {% endif %}
        <tr>
            <th class="w-25">
                ID
            </th>
            <td>
                {{ object.id }}
            </td>
        </tr>
        <tr>
            <th class="w-25">
                Koordinaten
            </th>
            <td>
                {{ object.lat }} {{ object.lng}}
            </td>
        </tr>
        <tr>
            <th class="w-25">Ortstype</th>
            <td>{% if object.kind.description %} {{ object.kind }} <small>{{ object.kind.description }}</small> {% else %} {{ object.kind }} {% endif %}</td>
        </tr>
        {% if object.start_date_written or object.end_date_written %}
        <tr>
            <th class="w-25">von – bis</th>
            <td>{% if object.start_date_written %}{{ object.start_date_written }}{% endif %}{% if object.end_date_written %} – {{ object.end_date_written }}{% endif %}</td>
        </tr>
        {% endif %}
    
    {% endblock info-table %}
