acdh-django-browsing
acdh_geonames_utils
acdh-id-reconciler>=0.2,<1
acdh-tei-pyutils>=0.34,<1
acdh-wikidata-pyutils>=0.4,<1
apis-override-select2js==0.1
Django>4.1,<6
django-admin-csvexport
django-autocomplete-light
django-crispy-forms
django-extensions
django-model-utils
django-tables2
djangorestframework
pandas
pylobid
psycopg2
pyocclient==0.6
icecream
flake8
black