acdh-django-browsing
acdh_geonames_utils
acdh-id-reconciler>=0.2,<1
acdh-tei-pyutils>=1.1,<2
acdh-wikidata-pyutils==1.0
apis-override-select2js==0.1
Django>=5.0,<6
django-admin-csvexport
django-autocomplete-light
django-crispy-forms
django-extensions
django-model-utils
django-tables2
django-vite>=3.0.3,<4
djangorestframework
pandas
pylobid
psycopg2
pyocclient==0.6
networkx>=3.2.1,<4
icecream
flake8
black
recordlinkage>0.15,<1