{% load static %}
<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container" tabindex="-1">
        <div class="row justify-content-between">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 col-3">
                <a href="/">
                    <img src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg" class="image" alt="ACDH Logo" style="max-width: 100%; height: auto;" title="ACDH Logo"/>
                </a>
            </div>
            <!-- .-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-9">
                <p>
                    ACDH-CH
                    <br/>
                    Austrian Centre for Digital Humanities and Cultural Heritage
                    <br/>
                    Österreichische Akademie der Wissenschaften
                </p>
                <p>
                    Bäckerstraße 13
                    <br/>
                    1010 Wien
                </p>
                <p>
                    T: +43 1 51581-2200
                    <br/>
                    E: <a
                        href="mailto:acdh-ch-helpdesk@oeaw.ac.at"
                        >acdh-ch-helpdesk(at)oeaw.ac.at</a>
                </p>
            </div>
            <!-- .footer-widget -->
            <div class="footer-widget col-lg-4 col-md-4 col-sm-6 col-9">
                <div class="textwidget custom-html-widget">
                    <p>
                        ACDH-CH
                        <br/>
                        Austrian Centre for Digital Humanities and Cultural Heritage
                        <br/>
                        Österreichische Akademie der Wissenschaften
                    </p>
                    <p>
                        Bäckerstraße 13
                        <br/>
                        1010 Wien
                    </p>
                    <p>
                        T: +43 1 51581-2200
                        <br/>
                        E: <a
                            href="mailto:acdh-ch-helpdesk@oeaw.ac.at" style="color: #9B5F98"
                            >acdh-ch-helpdesk(at)oeaw.ac.at</a>
                    </p>
                </div>
            </div>
            <!-- .footer-widget -->
            <div class="footer-widget col-lg-3 col-md-4 col-sm-4 ml-auto">
                <div class="textwidget custom-html-widget">
                    <h6>Lizenz der Inhalte: CC BY 4.0</h6>
                    <h6>Work in Progress</h6>
                    <p>Bei Fragen, Anmerkungen, Kritik, aber gerne auch Lob, wenden Sie sich bitte an den <a href="mailto:acdh-ch-helpdesk@oeaw.ac.at" style="color: #9B5F98">ACDH-CH Helpdesk</a>
                    </p>
                    <p>
                        <a class="helpdesk-button" style="color: #9B5F98"
                            href="mailto:acdh-ch-helpdesk@oeaw.ac.at">e-Mail</a>
                    </p>
                    <p/>
                </div>
                <div class="textwidget custom-html-widget">
                    <a href="https://github.com/arthur-schnitzler/pmb-service">
                        <small><i class="bi bi-github" style="color: #9B5F98"></i></small>
                    </a>
                </div>
            </div>
            <!-- .footer-widget -->
        </div>
    </div>
</div>
<div class="footer-imprint-bar hide-reading" id="wrapper-footer-secondary"
    style="text-align:center; padding:0.4rem 0; font-size: 0.9rem;"> © Copyright OEAW | <a
        href="{% url 'dumper:imprint' %}">Impressum</a>
</div>
</footer>