{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dumper:home' %}">
                <img src="{% static 'img/project-logo.svg' %}" alt="PMB-Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Info
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'dumper:about' %}">Über das Projekt</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'dumper:export' %}">Datenexport</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Entitäten
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_entities:person_list_view' %}">
                                    <i class="bi bi-people apis-person"></i>
                                    Personen
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_entities:place_list_view' %}">
                                    <i class="bi bi-map apis-place"></i>
                                    Orte
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_entities:work_list_view' %}">
                                    <i class="bi bi-book apis-work"></i>
                                    Werke
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_entities:event_list_view' %}">
                                    <i class="bi bi-calendar3 apis-event"></i>
                                    Ereignisse
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_entities:institution_list_view' %}">
                                    <i class="bi bi-building-gear apis-institution"></i>
                                    Institutionen
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_metainfo:uri_browse' %}">
                                    <i class="bi bi-link-45deg apis-uri"></i>URIs
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Relationen
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="text-center">
                                <a class="dropdown-item" href="{% url 'network:edges_browse' %}">
                                    <i class="bi bi-share"></i>
                                    Alle Relationen <i class="bi bi-share"></i>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:personperson' %}">
                                    <i class="bi bi-people apis-person"></i>
                                    Personen und <i class="bi bi-people apis-person"></i> Personen
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:personplace' %}">
                                    <i class="bi bi-people apis-person"></i>
                                    Personen und <i class="bi bi-map apis-place"></i> Orte
                                    
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:personwork' %}">
                                    <i class="bi bi-people apis-person"></i>
                                    Personen und <i class="bi bi-book apis-work"></i> Werke
                                    
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:personevent' %}">
                                    <i class="bi bi-people apis-person"></i>
                                    Personen und <i class="bi bi-calendar3 apis-event"></i> Ereignisse
                                </a>
                            </li>
                            
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:personinstitution' %}">
                                    <i class="bi bi-people apis-person"></i>
                                    Personen und <i class="bi bi-building-gear apis-institution"></i> Institutionen
                                    
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:institutioninstitution' %}">
                                <i class="bi bi-building-gear apis-institution"></i>
                                Institutionen und <i class="bi bi-building-gear apis-institution"></i>
                                Institutionen
                            </a>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:institutionplace' %}">
                                <i class="bi bi-building-gear apis-institution"></i>
                                Institutionen und <i class="bi bi-building-gear apis-place"></i> Orte
                            </a>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:institutionwork' %}">
                                <i class="bi bi-building-gear apis-institution"></i>
                                Institutionen und <i class="bi bi-book apis-work"></i> Werke
                                
                            </a>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:institutionevent' %}">
                                <i class="bi bi-building-gear apis-institution"></i>
                                Institutionen und <i class="bi bi-building-gear apis-event"></i> Ereignisse
                            </a>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:placeplace' %}">
                                    <i class="bi bi-map apis-place"></i>
                                    Orte und <i class="bi bi-map apis-place"></i> Orte
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:placework' %}">
                                    <i class="bi bi-map apis-place"></i>
                                    Orte und <i class="bi bi-book apis-work"></i> Werke
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'apis:apis_relations:placeevent' %}">
                                    <i class="bi bi-map apis-place"></i>
                                    Orte und <i class="bi bi-calendar3 apis-event"></i> Ereignisse
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:eventevent' %}">
                                <i class="bi bi-map apis-event"></i>
                                Ereignisse und <i class="bi bi-calendar3 apis-event"></i> Ereignisse
                            </a>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:eventwork' %}">
                                <i class="bi bi-map apis-event"></i>
                                Ereignisse und <i class="bi bi-book apis-work"></i> Werke
                            </a>
                            <li><hr class="dropdown-divider"></li>
                            <a class="dropdown-item" href="{% url 'apis:apis_relations:workwork' %}">
                                <i class="bi bi-book apis-work"></i>
                                Werke und <i class="bi bi-book apis-work"></i> Werke
                                
                            </a>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'normdata:import_from_normdata' %}">Import</a>
                    </li>
                    {% endif %}
              
                </ul>
                {% if user.is_authenticated %}
                <a href="{% url 'dumper:user_logout' %}">
                    <i class="bi bi-person-check fs-2 pe-3"></i>
                    <span class="visually-hidden">log out</span>
                </a>
                {% else %}
                <a href="{% url 'dumper:user_login' %}">
                    <i class="bi bi-box-arrow-in-right fs-2 pe-3"></i>
                    <span class="visually-hidden">log in</span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
