{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load django_tables2 %}
{% block title %} {{ object }} {% endblock %}
{% block content %}


<div class="container pt-4">
    <div class="row">
        <div class="col-md-2">
            {% if object.get_prev_url %}
                <h2>
                    <a href="{{ object.get_prev_url }}" style="float:right">
                        <i class="bi bi-chevron-left" title="vorige Entität"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2 class="display-4 text-center">
                <a href="{{ object.get_listview_url }}" title="zurück zur Übersicht">
                    <i class="{{ object.get_icon }}"></i>
                </a>
                {{ object }}
            </h2>
        </div>
        <div class="col-md-2">
            {% if object.get_next_url %}
                <h2>
                    <a href="{{ object.get_next_url}}" style="float:left">
                        <i class="bi bi-chevron-right" title="nächste URI"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
    </div>
    <div class="pt-4">
       <dl>
        <dt>Bechreibung</dt>
        <dd class="ps-3">{{ object.description|safe }}</dd>

        <dt>Verbunde Domains</dt>
        {% for x in object.related_domain %}
            <dd class="ps-3"><a href="{% url 'apis:apis_metainfo:uri_browse' %}?domain={{ x }}">{{ x }}</a></dd>
        {% endfor %}

        <dt>Anzahl verbundener Entitäten</dt>
        <dd class="ps-3">{{ object.get_related_entities_count|intcomma }}</dd>
       </dl>
    </div>
    
</div>
{% endblock content %}
