{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% block title %} {{ object }} {% endblock %}
{% block content %}
{% include "partials/entity_styles.html" %}


<div class="container pt-4">
    <div class="row">
        <div class="col-md-2">
            {% if object.get_prev_url %}
                <h2>
                    <a href="{{ object.get_prev_url }}" style="float:right">
                        <i class="bi bi-chevron-left" title="vorige Entität"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2 class="display-4 text-center">
                <a href="{{ object.get_listview_url }}" title="zurück zur Übersicht">
                    <i class="{{ object.get_icon }}"></i>
                </a>
                {{ object }}
                {% if user.is_authenticated %}
                <h2 class="text-center">
                    {% if object.get_edit_url %}
                    <a href="{{ object.get_edit_url }}" title="URI bearbeiten">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                {% endif %}
                {% if object.get_delete_url %}
                    |
                        <a href="{{ object.get_delete_url }}" title="URI löschen">
                            <i class="bi bi-trash3"></i>
                        </a>
                {% endif %}
                </h2>
                
                {% endif %}
            </h2>
        </div>
        <div class="col-md-2">
            {% if object.get_next_url %}
                <h2>
                    <a href="{{ object.get_next_url}}" style="float:left">
                        <i class="bi bi-chevron-right" title="nächste URI"></i>
                    </a>
                </h2>
            {% endif %}
        </div>
    </div>
    <div class="pt-4">
        <table class="table table-hover">
            <tr>
                <th>
                    Entity
                </th>
                <td>
                    <a href="{{ object.entity.get_absolute_url }}">{{ object.entity }}</a>
                </td>
            </tr>
            <tr>
                <th>
                    Uri
                </th>
                <td>
                    {{ object.uri }}
                </td>
            </tr>
            <tr>
                <th>
                    Domain
                </th>
                <td>
                    {{ object.domain }}
                </td>
            </tr>
        </table>
    </div>
    
</div>
{% endblock content %}
{% block scripts %}
    {{block.super}}
{% endblock scripts %}
