{% extends "base.html" %}
{% block title %} Lösche: {{ object }} ?{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">Löschen von <br /><strong>{{ object }}</strong></h1>
    <h2 class="text-center">Ganz sicher?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col d-flex justify-content-start">
                <input class="btn btn-danger" type="submit" value="Ja, ich bin sicher" />
            </div>
        </div>
    </form>
    <div class="col d-flex justify-content-end"">
        <input class="btn btn-success" type="submit" value="Nein, lieber doch nicht" onclick="goBack()" />
    </div>
   
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}