{% extends "base.html" %}
{% block title %} Lösche: {{ object }} ?{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">Löschen von <br /><strong>{{ object }}</strong></h1>
    <h2 class="text-center">Ganz sicher?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col d-flex justify-content-start">
                <input class="btn btn-danger" type="submit" value="Ja ich bin mir ganz sicher" />
            </div>
            <div class="col d-flex justify-content-end"">
                <input class="btn btn-success" type="submit" value="Nein, ich habs mir anders überlegt" onclick="goBack()" />
            </div>
        </div>
       
    </form>
   
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}