{% extends "base.html" %}
{% load static %}
{% block title %}Neue(r/s) {{ entity_type|title }} {% endblock %}

{% block content %}
<style>
    a {
        color: var(--{{ entity_type }});
    }
    .navbar {
        border-bottom: 5px solid var(--{{ entity_type }});
    }
    #searchpane {
        border-right: 1px solid var(--{{ entity_type }});
    }

    h1, h2 {
        color: var(--{{ entity_type }});
    }
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
      }
</style>
<div class="container-fluid pt-2">
    <h1 class="display-4 text-center">
        neues Objekt <a href="{{ instance.get_listview_url }}">
            <strong class="text-uppercase">{{ entity_type }} </strong>
        </a> anlegen
    </h1>
    
    <form method="post">
        {% load crispy_forms_tags %}
        {% crispy form %}
        <input class="btn btn-primary" type="submit" value="create" />
    </form>
</div>

{% endblock %}