{% extends "base.html" %}
{% load static %}
{% block title %}Neue(r/s) {{ entity_type|title }} {% endblock %}

{% block content %}
{% include "partials/entity_styles.html" %}
<div class="container pt-2">
    <h1 class="display-4 text-center">
        neues Objekt <strong class="text-uppercase">{{ entity_type }}</strong> anlegen
    </h1>
    
    <form method="post">
        {% load crispy_forms_tags %}
        {% crispy form %}
        <input class="btn btn-primary" type="submit" value="create" />
    </form>
</div>

{% endblock %}