{% extends "base.html" %}
{% load static %}
{% block title %} Bearbeiten von {{ instance }} {% endblock %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.9"></script>
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% include "partials/entity_styles.html" %}

<div class="container-fluid pt-2">
    <h1 class="display-4 text-center">
        <a href="{{ instance.get_listview_url }}">
            <i class="{{ instance.get_icon }}" title="{{ entity_type|title }}"></i>
        </a>
        {{ instance }} 
    </h1>
    <h2 class="text-center">
        <a href="{{ instance.get_absolute_url }}">
            <i class="bi bi-eye" title="zur Detailansicht"></i>
        </a>
        <a href="{{ instance.get_api_url }}">
            <i class="bi bi-database" title="zur API-Ansicht"></i>
        </a>
    </h2>
    <div class="row">
        <div class="col-md-5">
            <h3 class="text-center">
                Entität bearbeiten
            </h3>
            <form action="" method="post">
            {% crispy form %}
                <div class="pt-3">
                    <input class="btn btn-primary" type="submit" value="ändern" />
                    <a class ="btn btn-danger btn-primary" href="delete">löschen</a>
                </div>
            </form>
            <hr>
            <div class="p-3">
                <h4>URIS</h4>
                <ul>
                    {% for x in instance.uri_set.all %}
                    <li>
                        <a href="{{ x }}">{{ x }}</a>
                        <a href="{{ x.get_edit_url }}" title="URI bearbeiten">
                            <i class="bi bi-pencil-square"></i>
                        </a> | <a href="{{ x.get_delete_url }}" title="URI löschen">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <h4>Entitäten zusammenführen</h4>
            <p>Die aktuelle Entität <strong>{{ instance }}</strong> wird gelöscht, deren Eigenschaften/Verbindungen aber auf die ausgewählten Entität übertragen.</p>
            {% crispy form_merge_with  form_merge_with.helper %}
        </div>
        <div class="col-md-7">
            <h3 class="text-center">Bearbeiten der Verbindungen</h3>
            {% for obj in right_card %}
                <div class="pt-2">
                    <h4>{{ obj.0 }} <a class="apis-{{ obj.5 }}" title="Gehe zu {{ entity_type }}–{{ obj.0 }} Relationen" href="{{ obj.4 }}"><i class="bi bi-box-arrow-up-right" aria-hidden="true"><span class="visually-hidden">Gehe zu {{ entity_type }} - {{ obj.5 }} Relationen</span></i></a> {% if obj.6 %} <span class="fs-6 fw-light">An dieser Stelle werden nur maximal 10 Beziehungen angezeigt. Alle Beziehungen <a title="Gehe zu {{ entity_type }}–{{ obj.0 }} Relationen" href="{{ obj.4 }}"><strong>hier</strong></a></span> {% endif %}</h4>
                    <div id="tableDiv__{{ obj.2 }}">
                        {% render_table obj.1 %}
                    </div>
                    <div id="editFormDiv_{{ obj.2 }}"></div>
                    <button class="btn"
                        type="button"
                        hx-trigger="click"
                        hx-target="#editFormDiv_{{ obj.2 }}"
                        hx-post="/apis/relations/ajax/get/"
                        hx-vals='{
                            "SiteID": "{{ instance.id }}",
                            "FormName": "{{ obj.2 }}Form",
                            "ButtonText": "speichern",
                            "entity_type": "{{ entity_type }}"
                        }'>
                        <i class="bi bi-plus-lg" title="neue Verbindung anlegen"></i>
                    </button>
                </div>
            {% endfor %}
        </div>
</div>

{% endblock %}
