{% extends "base.html" %}
{% load static %}
{% block titel %}Create a {{ entity_type|title }}{% endblock %}

{% block content %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% if instance %}
<div class="container-fluid pt-2">
    <h1 class="display-4 text-center">
        <a href="{{ instance.get_listview_url }}">
            <small>{{ entity_type }}s </small>
        </a>
        {{ instance }} 
    </h1>
    <h2 class="text-center">
        <a href="{{ instance.get_absolute_url }}">
            <i class="bi bi-eye"></i>
        </a>
        <a href="/entity/{{ instance.id }}">
            <i class="bi bi-database"></i>
        </a>
    </h2>
    <div class="row">
        <div class="col-md-5">
{% endif %}
        {% if instance %}
            <h3 class="text-center">
                Edit the Entity
            </h3>
            {% else %}
            <h3>
                <small>create new object type:</small> <strong>{{ entity_type|title }}</strong>
            </h3>
        {% endif %}
        <form action="" method="post">
        {% crispy form %}
        {% block editbuttons %}
        {% if instance %}
            <input class="btn btn-primary" type="submit" value="modify" />
            <a class ="btn btn-danger btn-primary" href="delete">Delete</a>
        {% else %}
            <input class="btn btn-primary" type="submit" value="create" />
        {% endif %}
        {% endblock editbuttons %}
        </form>
        {% if instance %}
        <hr />
        <div class="pt-5">
            <h4>Merge into</h4>
            <div id="tab_merge_with">
                {% load crispy_forms_tags %}
                {% crispy form_merge_with form_merge_with.helper %}
            </div>
        </div>
        {% endif %}
    </div>
{% if instance %}
    <div class="col-md-7">
        <h3 class="text-center">Edit the Relations</h3>
        {% for obj in right_card %}
            <h4 class="card-title">{{ obj.0 }}</h4>
            <div id="tab_{{ obj.2 }}">
                {% render_table obj.1 %}
            </div>
        {% endfor %}
{% endif %}
{% if instance %}
    </div>
{% endif %}
</div>

{% endblock %}
{% block scripts %}
{{block.super}}
{% if instance %}
<script type="text/javascript">
    function GetFormAjax(FormName , ObjectID , ButtonText) {
        function add_form(data) {
            // update our tooltip content with our returned data and cache it
            $('#tab_'+data.tab).find('div:eq(1)').remove();
            $('#tab_'+data.tab).append(data.form);
	    $('#form_PersonInstitutionForm div:first div:first select').focus();
            //(".form.ajax_form").unbind()
        };
        if (!$.ApisForms) {
                        $.ApisForms = {}
                      };
        if (ObjectID === undefined) {
        ObjectID = false;
        if ($.ApisForms[FormName+'_'+'{{entity_type}}']) {
          var new_data = $.ApisForms[FormName+'_'+'{{entity_type}}']
          new_data.form = new_data.form
              .replace('##ENT_PK##', {{instance.pk}});
          add_form(new_data);
          return;
        };
        };
        if (ButtonText === undefined) {
        ButtonText = 'create/modify';
        };
        return $.ajax({
                type: 'POST',
                url: '{% url 'apis:apis_relations:get_form_ajax' %}',
            beforeSend: function(request) {
              var csrftoken = getCookie('csrftoken');
    request.setRequestHeader("X-CSRFToken", csrftoken);
  },
            data: {'FormName':FormName,'SiteID':{{instance.pk}},'ObjectID':ObjectID,'ButtonText':ButtonText, 'entity_type': '{{entity_type}}'},
                success: function(data) {
                    add_form(data);
                    if (!ObjectID) {
                      $.ApisForms[FormName+'_'+'{{entity_type}}'] = data;
                        $.ApisForms[FormName+'_'+'{{entity_type}}'].form = $.ApisForms[FormName+'_'+'{{entity_type}}'].form
                            .replace('/{{instance.pk}}/', '/##ENT_PK##/');
                    };
                },
                error: function(error) {
                    console.log(error)
                }
            });
    }
</script>
<script type="text/javascript">
    function EntityRelationForm_response(response){
        if (response.test == false) {
            $('#'+response.DivID).replaceWith(response.form);
            //(".form.ajax_form").unbind();
            if ($.ApisHigh.tt_instance_detail) {
            if ($.ApisHigh.tt_instance_detail["__state"] == 'stable') {
                $.ApisHigh.tt_instance_detail.content(response.form);
            } }
        } else {
            console.log('test did not fail');
             $('#tab_'+response.tab).find('div').remove();
             $('#tab_'+response.tab).append(response.table_html);
             initiate_compare_tooltip();
             {% if instance %}
             if (check_perms_relation()){
             if (response.right_card) {
                 console.log('fetching form');
                 console.log(response.tab+'Form');
             GetFormAjax(response.tab+'Form');};
             if ($.ApisHigh){
             if ($.ApisHigh.tt_instance_detail["__state"] == 'stable') {
                $.ApisHigh.tt_instance_detail.close()
             } else {

             $('.reldelete').addClass('disabled')
           }}}
             {% endif %}
        };
        unbind_compare_forms();
    }
</script>

<script type='text/javascript'>
    function DeleteTempEntity(pk, kind, app_name=false) {
        if (app_name){
            var url = '/apis/api/'+app_name+'/'+kind+'/'+pk.toString()
        } else {
        var url = '/apis/api/'+kind+'/'+pk.toString()}
        $.ajax({
            type: 'DELETE',
            url: url,
            beforeSend: function(request) {
                  var csrftoken = getCookie('csrftoken');
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                  },
            statusCode : {
                204: function() {
                    if (kind=='HLAnnotation') {
                        $('*[data-hl-ann-id="'+pk+'"]').contents().unwrap()
                    } else {
                    $('#tempEntity_'+pk).parents('tr').remove()
                }
                }
            }
        })
    }
</script>


<script type="text/javascript">
    function check_perms_relation(){
        {% if instance %}
        return true
        {% else %}
        return false
        {% endif %}
    }
</script>
<script type="text/javascript">
 function activate_editing(){
        {% for obj in right_card %}
        GetFormAjax("{{obj.2|add:'Form'}}");
        //unbind_ajax_forms();
        {% endfor %}
 };
function deactivate_editing(){
    $('.reldelete').addClass("disabled");
    $('.reldelete').prop("disabled", true);
    $('.reledit').addClass("disabled");
    $('.reledit').prop("disabled", true);
 };
{% endif %}
{% if instance %}
{% if permissions.change %}
activate_editing();
{% else %}
deactivate_editing();
{% endif %}
{% endif %}
</script>
{% endblock %}
